* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    /* border: red;
    border-style: solid; */
}

:root {
    --primary-color: #E88307;
    --secondary-color : #D9D9D9;
    --black: #0C0C0C;
    --medium-grey : #3C3C3C;
    --dark-grey: #282828;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto mono";
    color: var(--secondary-color);
}
p, ul li, label {
    font-family: "Montserrat";
    color: var(--secondary-color);
}

/* Nav bar */
header {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    position: sticky;
    top: 0;
    z-index: 1;

    .nc {
        display: flex;
        align-self: center;
        width: 55px;
        padding-left: 64px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        overflow: hidden;

        .nav-link {
            display: flex;
            font-variant: small-caps;
            font-size: 16pt;

            li a {
                display: inline-block;
                position: relative;
                font-family: "Roboto Mono";
                font-weight: bold;
                color: var(--secondary-color);
                padding-right: 64px;
            }
        }
        
        .menu {
            display: none;
            padding: 20px 100% 15px 30px;
        }
        label {
            width: 30px;
            height: 4px;
            background-color: var(--primary-color);
            position: absolute;
            top: 30px;
            right: 40px;
            cursor: pointer;
            border-radius: 16px;

            &::before, &::after {
                content: " ";
                width: 30px;
                height: 4px;
                background-color: var(--primary-color);
                position: absolute;
                display: block;
                border-radius: 16px;
                transition: all 0.7s ease;
            }

            &::before {
                bottom: 9px;
                left: 0;
                transform-origin: left top;
            }

            &::after {
                top: 9px;
                left: 0;
                transform-origin: left bottom;
            }
        }
        #menu-hamburger:checked ~label::before {
            transform: rotateZ(40deg);
        }
        #menu-hamburger:checked ~label::after {
            transform: rotateZ(-40deg);
        }
        #menu-hamburger:checked ~label {
            background-color: var(--medium-grey);
        }
        #menu-hamburger ~label {
            transition: all 0.6s ease;
        }
        #menu-hamburger {
            display: none;
        }
    }
}
/* Fin nav bar */

/* Main */
body {
    background: var(--dark-grey);

    main {
        .presentation {
            position: relative;
        
            .guanaco {
                width: 100%;
                height: 60vh;
                object-fit: cover;
                object-position:50% 56%;
            }
            
            .texte {
                position: absolute;
                top: 25px;
                left: 100px;

                h1 {
                    font-size: 24pt;
                }

                h2 {
                    font-size: 17pt;
                }

                :is(h1, h2) {
                    color: var(--medium-grey);
                }
                span.nom {
                    color: var(--primary-color);
                }
            }
        }

        .aboutme, .skills, .reseaux, .portfolio, .contact {
            padding: 48px;

            h3 {
                padding-bottom: 40px;
                font-size: 15pt;
            }
        }
        
        .aboutme {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: space-evenly;

            .memoji {
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
                object-position: 50% 40%;
                box-shadow: 0 3px 2px var(--primary-color);
            }
            .texte {
                width: 65%;

                p {
                    padding: 8px 0;
                    text-align: justify;
                }
                p:first-child {
                    padding-top: 0;
                }
                p:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .reseaux {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .line {
                border: 1px solid var(--primary-color);
                width: 30%;
            }

            img {
                width: 50px;
            }

            img:hover {
                transform: scale(1.2);
            }

            button {
                padding: 8px 32px;
                margin: 8px;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--primary-color);

                a {
                    color: var(--secondary-color);
                    font-family: "Montserrat";
                    font-weight: bold;
                }
            }
            button:hover {
                transform: scale(1.1);
            }
        }

        .skills {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            background-color: var(--medium-grey);

            .hard {
                display: flex;
                flex-direction: column;
                
                .images {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 40px 20px;     

                    img {
                        width: 50px;
                    }
                }
            }

            .soft {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                ul li {
                    list-style-position: inside;
                    list-style-type: circle;
                }
            }

            .languages {
                display: flex;
                flex-direction: column;
            }
        }

        .portfolio {
            h3 {
                text-align: center;
            }
            .projects {
                display: flex;
                justify-content: space-around;
                gap: 20px;

                .fansite, .tictactoe, .bloompetals {
                    padding: 16px;
                    width: 300px;
                    height: 320px;
                    background-color: var(--dark-grey);
                    background: linear-gradient(var(--medium-grey) 0%, var(--black) 100%);                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid var(--primary-color);
                    border-radius: 16px;  

                    p {
                        text-align: center;
                    }

                    .scaloneta, .morpion, .bloom {
                        width: 200px;
                        height: 200px;
                        padding: 16px 0;
                    }
                }
                .fansite:hover, .tictactoe:hover, .bloompetals:hover {
                    transform: scale(1.02);
                    box-shadow: rgba(232, 131, 7, 0.3) 0px 19px 38px, 
                    rgba(232, 131, 7, 0.22) 0px 15px 12px;
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 72px;

            .form {
                width: 100%;
                padding: 16px 48px;
                border: 2px solid var(--primary-color);
                border-radius: 16px;  
                background-color: var(--dark-grey);
                background: linear-gradient(var(--medium-grey) 0%, var(--black) 100%);

                h3 {
                    text-align: center;
                }

                textarea {
                    border-radius: 5px;
                    margin-top: 8px;
                    background-color: var(--secondary-color);
                }
                textarea, input#objet {
                    width: 100%;
                }
                input[type="text"], input[type="email"], input[type="tel"] {
                    height: 25px;
                    border-radius: 5px;
                    margin-top: 8px;
                    background-color: var(--secondary-color);
                }
                article {
                    padding-top: 16px;
                }
                .contacter {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    
                    .identite, .coordonnees {
                        display: flex;
                        width: 100%;
                        gap: 20px;
                    }

                    .prenom, .nom, .email, .telephone {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                    }
                }
                .message {
                    display: flex;
                    flex-flow: column wrap;
                    .objet, .votremessage, .fichier {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .bouton {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                    button {
                        padding: 8px 32px;
                        margin: 8px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-family: "Montserrat";
                        font-weight: bold;
                        color: var(--secondary-color);
                        background-color: var(--primary-color);
                    }
                
                    .hvr-outline-out {
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px var(--primary-color);
                        position: relative;
                    }
                    .hvr-outline-out:before {
                        content: '';
                        position: absolute;
                        border: var(--primary-color) solid 2px;
                        border-radius: 5px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: top, right, bottom, left;
                        transition-property: top, right, bottom, left;
                    }
                    .hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
                        top: -6px;
                        right: -6px;
                        bottom: -6px;
                        left: -6px;
                    }
                }
            }
        }
    
        .glow {
            display: inline-block;
            vertical-align: middle;
            box-shadow: 0 0 1px rgb(232, 131, 7);
            box-shadow: 0 0 8px rgb(232, 131, 7, 0.6);
        }
    }
    footer {
        p {
            text-align: center;
            padding: 24px;
        }
    }
}
/* Fin main */

/* Media queries */
@media screen and (max-width: 992px) {
    header {
        .nc {
            padding-left: 40px;
            }
        .navbar {
            width: 100vw;

            .nav-link {
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(var(--medium-grey) 0%, var(--dark-grey) 100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: -100%;
                transition: all 0.5s ease;
                z-index: 1;
                
                li {
                    font-size: 1.5em;
                }
    
                li a {
                    font-weight: bolder;
                    padding: 32px 0;
                }
            }

            .menu {
                display: block;
                z-index: 2;
            }
            
            .nav-link.mobile-menu {
                margin-left: 0;
                width: 100%;
                height: 100vh;
            }
        }
    }
    body {
        main {
            .aboutme {
                flex-direction: column;
                align-items: center;

                .texte {
                    padding-top: 24px;
                    width: 100%;
                }
            }
            .skills {
                display: flex;
                flex-direction: column;
                align-items: center;

                .hard, .soft, .languages {
                    align-items: center;
                }
                .soft, .languages {
                    h3 {
                        padding: 32px 0;
                    }
                }
            }
            .portfolio {
                .projects {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 32px;
                }
            }
            .contact {
                margin: 0 48px;
                .form {
                    input#prenom, input#nom, input#email, input#telephone {
                        box-sizing: border-box;
                        width: 100%;
                    }
                    .contacter {
                        .identite, .coordonnees {
                            flex-direction: column;
                            gap: 0;
                        }   
                        .prenom, .nom, .email, .telephone {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        main {
            .contact {
                margin: 0;
                .form {
                    padding: 16px 24px;
                }
            }   
        }
    }
    
}

@media screen and (max-width: 576px) {
    body {    
        main {
            .presentation {
                .guanaco {
                    object-position:20% 56%;
                }
                .texte {
                    left: 25px;
                    h1 {
                        font-size: 20pt;
                    }
    
                    h2 {
                        font-size: 14pt;
                    }
                }
            }
            .reseaux {
                .line {
                    display: none;
                }
            }
        }
    }
}
/* Fin media queries */