* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    /* border: red;
    border-style: solid; */
}

:root {
    --primary-color: #E88307;
    --secondary-color: #D9D9D9;
    --dark-grey: #282828;
    --light-grey: #3C3C3C;
}

html, body, section {
    block-size: 100%;
    }
  
html {
    scroll-snap-type: y mandatory;
    }
  
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
section:nth-of-type(even) {
    color: white;
    background: black;
    }
  
section:nth-of-type(odd) {
    color: black;
    background: white;
    }
