/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    /* box-sizing: border-box;
    border: red;
    border-style: solid; */
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: Avallon;
    src: url("assets/font/AvallonAllCaps.ttf");
}

@font-face {
    font-family: Anton;
    src: url("assets/font/Anton.ttf");
}

:root {
    --dark: #26252C;
    --light: #D2C8BD;
    --orange: #E36135;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

header {
    height: 100svh;
    max-width: 100svw;
    margin: 24px 56px;
}

main {
    margin: 24px 104px;
}

h3 {
    font-family: "Anton";
    font-size: 32px;
    margin: 0 0 64px 40px;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .navbar {
        position: fixed;
        top: 24px;
        left: 40px;
        z-index: 10;
        backdrop-filter: blur(5px);
        width: 32%;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        gap: 48px;

        a {
            font-family: "Anton";
            color: var(--dark);
            font-size: 20px;
        }
    }

    .titre {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 180px;
        gap: 104px;
        margin: 0 32px;

        h1 {
            font-family: "Avallon";
            font-size: 160px;
        }

        .cadre-photo {
            position: relative;
            top: -30px;

            .peinture {
                position: absolute;
                left: -270px;
                top: -100px;
                width: 600px;
            }

            .rectangle {
                position: absolute;
                width: 350px;
            }

            .profil {
                position: absolute;
                top: -123px;
                z-index: 2;
                width: 350px;
            }
        }
    }

    .intro {
        position: relative;
        top: 180px;
        left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: "Anton";
            font-size: 40px;
            margin-bottom: 24px;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;
        left: 0;

        .logo {
            width: 80px;
            height: 80px;
            transition: transform 0.5s ease-out;
        }

        .logo:hover {
            transform: scale(1.2);
        }
    }
}

/* About me */
.aboutme {
    .text {
        text-align: justify;
        font-size: 18px;
    }

    .softSkills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 22px;
    }

    .hardSkills-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 64px 0;

        .logo {
            width: 80px;
        }
    }

    .cv {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 120px 0;

        .rectangle2 {
            position: absolute;
            width: 300px;
            height: 80px;
        }

        a {
            font-family: "Anton";
            position: absolute;
            color: var(--dark);
            width: 299px;
            height: 79px;
            font-size: 32px;
            transition: background-color 0.6s ease-out, color 0.6s ease-out;
        }

        a:hover {
            background-color: var(--dark);
            color: var(--light);
        }
    }
}

/* My projects */
.myprojects {
    .projects {
        margin: 64px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .projectImage {
            width: 360px;
            margin-bottom: 8px;
            cursor: pointer;
            transition: transform 0.5s ease-out;
        }

        .projectImage:hover {
            transform: scale(1.05);
        }

        .titleElement {
            font-family: "Anton";
            font-size: 24px;
        }

        .introElement {
            font-size: 18px;
        }
    }
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;

    .modal-container {
        position: relative;
        background-color: var(--light);
        border: 2px solid var(--dark);
        border-radius: 5px;
        width: 600px;
        max-height: 560px;
        padding: 20px;
        animation: zoom 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    h4 {
        font-family: "Anton";
        font-size: 32px;
    }

    .modal-content {
        width: 400px;
        height: auto;
        object-fit: contain;
        margin: 24px 0;
        cursor: pointer;
        transition: transform 0.5s ease-out;
    }

    .modal-content:hover {
        transform: scale(1.05);
    }

    #modalIntro {
        font-size: 16px;
    }

    #modalDescription {
        margin-bottom: 16px;
        font-size: 16px;
        text-align: justify;
    }

    #modalTechnologies {
        font-family: "Anton";
        font-size: 18px;
    }

    @keyframes zoom {
        from { transform: scale(0); }
        to { transform: scale(1); }
    }

    .close {
        position: absolute;
        top: 0;
        right: 20px;
        color: var(--dark);
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        z-index: 12;
    }

    .close:hover,
    .close:focus {
        transform: scale(1.2);
    }
}

/* Footer */
footer {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Media queries */
@media (max-width: 1024px) {
    .home {
        .navbar {
            width: 45%;
        }

        .titre {
            h1 {
                font-size: 88px;
            }

            .cadre-photo {
                .peinture {
                    left: -250px;
                    width: 500px;
                }

                .rectangle {
                    width: 250px;
                }

                .profil {
                    top: -89px;
                    width: 250px;
                }
            }
        }

        .intro {
            h2 {
                font-size: 32px;
                margin-bottom: 32px;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        margin: 24px 40px;
    }

    .home {
        .noah {
            width: 60px;
        }

        .navbar {
            width: 50%;
        }

        .navbar ul {
            a {
                font-size: 16px;
            }
        }

        .titre {
            gap: 104px;
            margin: 0 0;

            h1 {
                font-size: 64px;
            }

            .cadre-photo {
                .peinture {
                    left: -170px;
                    width: 400px;
                }

                .rectangle {
                    width: 200px;
                }

                .profil {
                    top: -70px;
                    width: 200px;
                }
            }
        }

        .intro {
            left: 0;

            h2 {
                font-size: 32px;
            }
        }

        .contact {
            gap: 32px;

            .logo {
                width: 65px;
                height: 65px;
            }
        }
    }

    .aboutme {
        .softSkills-container {
            flex-flow: row wrap;
        }

        .cv {
            .rectangle2 {
                width: 200px;
                height: 70px;
            }

            a {
                width: 199px;
                height: 69px;
                font-size: 24px;
            }
        }
    }

    .myprojects {
        .projects {
            flex-direction: column;
            gap: 40px;
        }
    }

    .modal {
        .modal-container {
            width: 400px;
            max-height: 450px;
        }
    }
}

@media (max-width: 425px) {
    h3 {
        font-size: 24px;
        margin: 72px 0 32px 40px;
    }

    .home {
        .navbar {
            width: 74%;
        }

        .navbar ul {
            gap: 24px;
        }

        .titre {
            flex-direction: column;
            top: 80px;

            .cadre-photo {
                top: 0;

                .peinture {
                    position: absolute;
                    left: -50px;
                    width: 400px;
                }

                .rectangle {
                    left: 120px;
                    width: 200px;
                }

                .profil {
                    left: 120px;
                    top: -70px;
                    width: 200px;
                }
            }
        }

        .intro {
            top: -24px;

            h2 {
                font-family: "Anton";
                font-size: 24px;
                margin-bottom: 280px;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            gap: 32px;
            position: relative;
            left: 32px;
            margin-top: 24px;

            .logo {
                width: 65px;
                height: 65px;
            }
        }
    }

    .aboutme {
        .hardSkills-container {
            margin: 48px 0;
        }

        .softSkills-container {
            font-size: 18px;
            gap: 24px;
        }

        .cv {
            margin: 72px 0 88px;

            .rectangle2 {
                width: 200px;
                height: 70px;
            }

            a {
                width: 199px;
                height: 69px;
                font-size: 24px;
            }
        }
    }

    .myprojects {
        .projects {
            margin: 32px 0;
        }
    }

    .modal {
        .modal-container {
            width: 300px;
        }

        .modal-content {
            width: 250px;
        }
    }
}

@media (max-width: 375px) {
    .home {
        .navbar {
            width: 80%;
        }

        .titre {
            h1 {
                font-size: 53px;
            }

            .cadre-photo {
                .peinture {
                    left: -80px;
                }

                .rectangle {
                    left: 90px;
                }

                .profil {
                    left: 90px;
                    top: -70px;
                }
            }
        }

        .contact {
            left: 8px;
        }
    }

    .myprojects {
        .project {
            .projectImage {
                width: 300px;
            }
        }
    }
}