/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
    font-family: "SF Pro";
}

@font-face {
    font-family: SF Pro;
    src: url("font/San\ Francisco\ Pro\ Display/--light");
}

:root {
    --dark: #282828;
    --grey: #424242;
    --light: #D9D9D9;
    --orange: #E88307;
    --background: #ffffff15;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

a {
    color: var(--light);
}

.logo {
    width: 80px;
    height: 80px;
}

h3 {
        font-size: 40px;
        margin-bottom: 40px;
    }

/* Home */
header {
    height: 100svh;
    max-width: 100svw;
    display: flex;
    justify-content: center;
    margin: 8px;
}

.home {
    background-image: url("portfolio.png");
    background-size: cover;
    background-position: 21% 50%;
    height: 94%;
    width: 98%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);

    .navbar {
        position: fixed;
        z-index: 2;
    }

    .navbar ul {
        position: relative;
        margin: 8px;
        padding: 8px 12px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .dark {
        background-color: var(--dark);

        .indicator {
            background-color: var(--grey);
        }

        li a {
            color: var(--light);
        }
    }

    .light {
        background-color: var(--light);

        .indicator {
            background-color: var(--grey);
        }
        
        li a {
            color: var(--dark);
            font-weight: bold;
        }
    }

    .indicator {
        position: absolute;
        top: 10%;
        left: 0;
        height: 80%;
        border-radius: 40px;
        transition: transform 0.3s ease, width 0.3s ease;
        z-index: 1;
    }

    .navbar li a.menuItem {
        position: relative;
        z-index: 2;
        padding: 8px 12px;
        border-radius: 40px;
    }

    .navbar li.active a.menuItem {
        color: var(--light);
    }

    .intro {
        position: relative;
        top: 8%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 24px;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        gap: 32px;
        position: relative;
        left: 0;
    }
}

/* About me */
main {
    margin: 40px 24px;
}

.aboutme {
    .softSkills-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        margin-bottom: 40px;

        .softSkills {
            border: 2px solid var(--light);
            border-radius: 20px;
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(217, 217, 217, 0.3) 0px 2px 5px;
        }
    }

    .text {
        p {
            text-align: justify;
            margin-bottom: 16px;
        }
    }

    .hardSkills-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0 40px;
        gap: 12px;

        .hardSkills {
            border: 3px solid var(--light);
            border-radius: 20px;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #html {
            border-color: #FF6D00;
            box-shadow: rgba(255, 109, 0, 0.3) 0px 2px 5px;
        }

        #css {
            border-color: #039BE5;
            box-shadow: rgba(3, 155, 229, 0.3) 0px 2px 5px;
        }

        #github {
            box-shadow: rgba(217, 217, 217, 0.3) 0px 2px 5px;
        }

        #figma {
            border-color: #66BB6A;
            box-shadow: rgba(102, 187, 106, 0.3) 0px 2px 5px;
        }

        #trello {
            border-color: #1E88E5;
            box-shadow: rgba(30, 136, 229, 0.3) 0px 2px 5px;
        }

        #python {
            border-color: #0277BD;
            box-shadow: rgba(2, 119, 189, 0.3) 0px 2px 5px;
        }

        #javascript {
            border-color: #FFD600;
            box-shadow: rgba(255, 214, 0, 0.3) 0px 2px 5px;
        }

        #php {
            border-color: #8B75A1;
            box-shadow: rgba(139, 117, 161, 0.3) 0px 2px 5px;
        }

        #mysql {
            border-color: #00796B;
            box-shadow: rgba(0, 121, 107, 0.3) 0px 2px 5px;
        }

        #swift {
            border-color: #FF6D00;
            box-shadow: rgba(255, 109, 0, 0.3) 0px 2px 5px;
        }

        #swiftui {
            border-color: #0D6CA1;
            box-shadow: rgba(13, 108, 161, 0.3) 0px 2px 5px;
        }
    }
}

/* My projects */
.myprojects {
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            font-size: 30px;
            margin-bottom: 40px;
        }

        .card {
            position: relative;
            display: inline-block;
        }

        .card::before {
            content: '';
            position: absolute;
            top: -12px;
            left: -12px;
            width: 100%;
            height: 90%;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            z-index: 0;
        }
        .projectImage {
            position: relative;
            z-index: 1;
            display: block;
            max-width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            gap: 12px;
            margin-bottom: 20px;
        }

        .techElement {
            border: 2px solid var(--light);
            border-radius: 20px;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(217, 217, 217, 0.3) 0px 2px 5px;
        }

        p {
            text-align: justify;
            margin-bottom: 40px;
        }

        .link {
            border: 2px solid var(--orange);
            border-radius: 20px;
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--orange);
            color: var(--dark);
            font-weight: bold;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
            margin-bottom: 40px;
        }
    }
}

/* Footer */
.menuBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 32px;

    .name {
        font-size: 20px;
    }

    .cv {
        border: 2px solid var(--orange);
        border-radius: 20px;
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--orange);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    }
}

.line {
    border: 1px solid var(--light);
    width: calc(100% - 48px);
    border-radius: 50px;
    position: relative;
    left: 24px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin: 16px 0;
}

/* Media queries */
@media (min-width: 425px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
